@charset "utf-8";


/*==================================
 	Mobile Styles: 0px to 500px
====================================
*/
 
@media only screen and (max-width: 500px) {

 
html {
	width: 100%;
	float: none;
	margin: auto;
	text-align:center;	
}


img {
	max-width: 100%;
}


body {
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}


  
aside {
		-webkit-order: 99;
		order: 99;
}
	
footer {
		-webkit-order: 100;
		order: 100;
}
 
}

