@charset "utf-8";

@font-face{
	font-family: Quicksand;
	src: url(../fonts/Quicksand-Regular.woff) format('woff'),
	     url(../fonts/Quicksand-Regular.ttf) format('truetype');
}

html {
	background-image: linear-gradient(-90deg, #E9F5B3, #AB9C63);
	height: 100%;
	width: 100%;
	line-height: 1.5;
	font-size: 20px;
}

#logoImage {
	position: relative
}

#logoImage p {
	position: absolute;
	color: hsl(40, 75%, 27%);
	font-weight: bold;
	text-shadow: gray 4px 6px 5px;
	font-size:2em;
	font-family: quiksand, sans-sefif;
	top:5%;
	left: 30%;
}

img {
	width: 100%;
	border-radius: 20px;
}

nav {
	display: flex;
	margin 20px auto;
}



nav ul li {
	overflow: hidden;
	font-size: 1.2em;
	line-height: 2.2em;
	height: 2.2em;
	display: block;
	text-align:center;
	float:left ;

}

nav ul li a {
	color: hsl(40, 75%, 27%);
	width: 100%;
	font-weight: bold;
}


nav ul li a:hover {
	background-color: #b34a48;
	color: white;
}

h1 {
   font-size: 1.2em;
}


p {
   font-size: 1.0em;
}

article {
	line-height: 200%;
	text-align: center;
}


form#survey {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;	
}

form#survey > fieldset {
	background-color: rgb(244,220,205);
	border-radius: 25px;
	-webkit-flex: 1 1 300px;
	flex: 1 1 300px;
	font-size: 0.90em;
	padding: 20px;
	margin: 15px;
}

div.formRow {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 10px 0px;
}

div.formRow > * {
	-webkit-flex: 1 1 150px;
	flex: 1 1 150px;
}


legend {
	background-color: rgb(120,86,17);
	color: white;
	text-align:center;
	border-radius: 10px;
	font-size: 1.2em;
	padding: 20px;
}


div.formRow > input#parkSpin {
	-webkit-flex: 0 0 50px;
	flex: 0 0 30px;
}


textarea {
	margin-top: 10px;
	height: 80px;
	width: 100%;
}


div#buttons {
	text-align: center;
	width: 100%;
}

input[type='submit'], input[type='reset'] {
	font-size: 1.5em;
	padding: 10px;
	margin: 10px;
}
  

input:focus, select:focus, textarea:focus {
	background-color: rgb(220,255,220);
}

input#name:focus:valid,
input#zip:focus:valid,
input#phone:focus:valid.
input#mail:focus:valid {
	background: rgb(128,224,251);
}

input#name:focus:invalid,
input#zip:focus:invalid,
input#phone:focus:invalid.
input#mail:focus:invalid {
	background: rgb(252,20,8);
}



