@charset "utf-8";

@font-face{
	font-family: Quicksand;
	src: url(../fonts/Quicksand-Regular.woff) format('woff'),
	     url(../fonts/Quicksand-Regular.ttf) format('truetype');
}

html {
	background-image: linear-gradient(-90deg, #E9F5B3, #AB9C63);
	height: 100%;
	line-height: 1.5;
	font-size: 20px;
}

#logoImage {
	position: relative
}

#logoImage p {
	position: absolute;
	color: hsl(40, 75%, 27%);
	font-weight: bold;
	text-shadow: gray 4px 6px 5px;
	font-size:2em;
	font-family: quiksand, sans-sefif;
	top:5%;
	left: 30%;
}

header img {
	float: none;
	width: 100%;
	border-radius: 20px;
	margin: 2% 2% 0% 2%;
}


body {
	margin-left: auto;
	margin-right: auto;
	width: 81.9%;
	padding-left: 4.55%;
	padding-right: 4.55%;
	clear: none;
	float: none;
	min-height: 100%;
}

nav {
	width: 20%;
	float: left;
	margin: 6% 2% 0% 0%;
}

article {
	width: 55%;
	float: left;
	font-size: 1.0em;
	text-align: left;
}

nav ul li {
	font-size: 1.2em;
}

nav ul li a {
	color: hsl(40, 75%, 27%);
	text-decoration: none;
	display: block;
	margin-bottom: 8%;
}

nav ul li a:visited {
	color: hsl(40, 75%, 27%);
}

nav ul li a:hover {
	background-color: #b34a48;
	color: white;
}

nav ul li a:focus {
	outline: thin dotted;
}

nav ul li a:hover, nav ul li a:active {
	outline: 0;
}


body h1 {
	margin: 1%;
	font-size: 1.2em;
}

body article h1 {
position: relative;
padding: 8px 15px;
margin-left: 40px;
background: #C4CEB3;
border-radius: 20px;
}

body article h1:before {
content: "\f111";
position: absolute;
font-size: 15px;
left: -40px;
bottom: 0;
color: #C4CEB3;
}

body article h1:after {
content: "\f111";
position: absolute;
font-size: 23px;
left: -23px;
bottom: 0;
color: #C4CEB3;
}



body p, body address {
	margin: 3.5% 1%;
	font-size: 1em;
	font-style: normal;
	height: 100%;
}



table {
	background: lightgoldenrodyellow;
	border: 5px solid darkgoldenrod;
}

th,td {
	border: 5px solid darkgoldenrod;
	line-height: 1.4em;
	padding: 8px;
}

th {
	background-color: palegoldenrod;
	color: hsl(40, 75%, 27%);
	text-align:center;
	font-weight: bold ;
}

td {
	color: hsl(40, 75%, 27%);
	text-align:center;
	font-size: 0.9em;
}

#head {
	font-size: 1.5em;
}

#comment {
	text-align:left
}
/* Column Styles */

col#firstCol {
	width: 24%;
}

col.dayCols {
	width: 19%;
}

aside {
	text-align: center;
	font-size 1.2em;
	font-weight: bold;
	color: hsl(40, 75%, 27%);
	width: 20%;
	float: right;
	line-height: 2;
}
